@using Fitnesstracker.Models
@model WorkoutPlan

@{
    ViewData["Title"] = "Edit Workout Plan";
}

<h1>Edit Workout Plan</h1>

<h4>Workout Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" id="SessionJSONInput" name="SessionsJSON" />
            <button type="submit" class="btn btn-primary" onclick="formPreSubmit()">Save</button>
        </form>
    </div>
</div>

<div id="SessionContainer">
    <div id="SessionTemplate" class="sessionForm d-none">
        <input type="text" class="form-control" oninput="sessionName_Input(this)" placeholder="Session Name" />
        <input type="number" class="form-control" placeholder="Day Number" />
    </div>
</div>

<div id="ActivityContainer">
    <div id="ActivityTemplate" class="activityForm d-none">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Sets</th>
                    <th>Rest Period (seconds)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr id="ActivityRowTemplate">
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="number" class="form-control" /></td>
                    <td><input type="number" class="form-control" /></td>
                    <td><button type="button" class="btn btn-danger" onclick="deleteActivity_Clicked(this)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ul id="SessionList">
    <li id="SessionListTemplate" class="d-none">
        <a href="javascript:void(0)" onclick="sessionListItem_Clicked(this)"></a>
    </li>
</ul>

<button type="button" class="btn btn-secondary" onclick="addNewSession()">Add New Session</button>
<button type="button" id="AddActivityButton" class="btn btn-secondary d-none" onclick="addActivity_Clicked()">Add Activity</button>

<script src="~/js/Workout/edit.js"></script>
