   @model WorkoutPlan[]

@{
    ViewData["Title"] = "Workout Plans";
}

<div>
    <div class="mb-3">
        <h2 class="d-inline">Workout Plans</h2>
        <a asp-controller="Workout" asp-action="Create" class="font-weight-bold ml-1" style="vertical-align:text-bottom">+New Workout</a>
    </div>

    <div class="row">
        @foreach (var plan in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@plan.Name</h5>
                        <ul>
                            @for (int i = 0; i < plan.Sessions.Length; i++)
                            {
                                <li>@plan.Sessions[i].Name</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
