/* Sezione Contatti */
.contact-section {
    padding: 5rem 1rem;
    background-color: #1f1f1f;
    color: #fff;
}

    .contact-section .form-control {
        background-color: #2b2b2b;
        color: #fff;
        border: 1px solid #444;
        border-radius: 5px;
    }

        .contact-section .form-control:focus {
            background-color: #333;
            color: #fff;
            border-color: #dc030a;
            box-shadow: none;
        }

    .contact-section .btn__primary {
        padding: 0.75rem 1.5rem;
        font-size: 1.25rem;
        border-radius: 5px;
    }
