/* Sezione Ready to Start */
.ready-section {
    background-color: var(--gray-medium);
    color: var(--white);
    text-align: center;
    padding: 5rem 1rem;
}

    .ready-section .btn__primary {
        padding: 0.75rem 1.5rem;
        font-size: 1.25rem;
    }

/* Sezione Contatti */
.contact-section {
    padding: 5rem 1rem;
}

    .contact-section .form-control {
        background-color: var(--gray-medium);
        color: var(--white);
        border: 1px solid var(--gray-light);
    }

        .contact-section .form-control:focus {
            background-color: var(--gray-light);
            color: var(--white);
            border-color: var(--primary-color);
            box-shadow: none;
        }

        .contact-section .form-control::placeholder {
            color: #ccc;
        }

    .contact-section .btn__primary {
        padding: 0.75rem 1.5rem;
    }

/* Sezione Programma */
.program-section {
    padding: 5rem 1rem;
}

    .program-section .row > div {
        margin-bottom: 2rem;
    }

    .program-section h4 {
        font-family: "Oswald", sans-serif;
        margin-top: 1rem;
        color: var(--primary-color);
    }

    .program-section p {
        color: #ccc;
    }
